# ===== PROJECT INFO =====
PROJECT_NAME=rovno-dev-site
BUILD_TARGET=dev

# ===== SERVER =====
DEFAULT_PORT=8080
AUTH_PORT=8081
CASES_PORT=8082
ORDERS_PORT=8083

DB_DRIVER=postgres
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSLMODE=disable
DB_DSN=${DB_DRIVER}://${DB_USER}:${DB_PASSWORD}@db:${DB_PORT}/${DB_NAME}?sslmode=${DB_SSLMODE} 

GIN_MODE=debug

POSTGRES_PASSWORD=""
PGADMIN_DEFAULT_EMAIL=""
PGADMIN_DEFAULT_PASSWORD=""

# ===== FRONTEND =====
NODE_ENV=development
NEXT_PUBLIC_API_BASE_URL=
FRONTEND_PORT=3000